@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.wrapper {
  background-image: url("./images/headerBackgd.png");
  background-size: cover;
  width: 100%;
  max-width: 500px;
  padding-bottom: 90px;
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: rgb(245, 250, 245);
  height: auto;
  display: flex;
  padding-top: 15px;
  margin-bottom: 100px;
  padding-bottom: 10px;
}

.logo,
a {
  font-size: 20px;
  text-decoration: none;
  font-weight: bolder;
  color: #8793ff;
}

.right-side {
  flex-grow: 1;
  margin-left: 20px;
}

section {
  display: flex;
  flex-direction: column;
  color: rgb(23, 43, 77);
}

p {
  font-size: 18px;
  margin-left: 20px;
}

.menu-line {
  width: 25px;
  height: 4px;
  margin-bottom: 4px;
  background-color: #8793ff;
  border-radius: 3px;
  margin-right: 20px;
}

h1 {
  font-size: 40px;
  padding-bottom: 20px;
  margin-left: 20px;
}

.head-lines ul,
li {
  display: flex;
  padding: 10px;
}

.connect {
  padding: 20px;
}
