@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@900&family=Arvo:wght@700&family=BIZ+UDPGothic:wght@700&family=Josefin+Sans:wght@300;400;700&family=Lobster&family=Merriweather+Sans:ital,wght@1,700&family=Oleo+Script+Swash+Caps:wght@700&family=Open+Sans:wght@600&family=Plus+Jakarta+Sans:wght@800&family=Prompt:wght@300&family=Questrial&family=Radio+Canada:wght@500;600&family=Roboto+Slab&family=Rubik:wght@700&family=Source+Serif+Pro:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  background-image: url("./images/backgroundDesk.png"), url("./images/HeaderBck.jpg");
  background-size: cover;
  padding-bottom: 90px;
  font-family: 'Poppins', sans-serif;
  padding-left: 30px;
  margin-right: 30px;
}

header {
  height: auto;
  display: flex;
  padding-top: 15px;
  margin-bottom: 100px;
  padding-bottom: 10px;
}

.logo,
a {
  font-size: 20px;
  text-decoration: none;
  font-weight: bolder;
  color: #8793ff;
}

.right-side {
  flex-grow: 1;
  margin-left: 20px;
}

section {
  display: flex;
  flex-direction: column;
  color: rgb(23, 43, 77);
}

p {
  font-size: 18px;
  margin-left: 20px;
  font-weight: 400;
}

.menu-line {
  width: 25px;
  height: 4px;
  margin-bottom: 4px;
  background-color: #8793ff;
  border-radius: 3px;
  margin-right: 20px;
}

.nav-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.x-nav {
  cursor: pointer;
  display: none;
}

.x-nav img {
  width: 15px;
  height: 15px;
  float: right;
  margin: 15px;
}

h1 {
  font-weight: bold;
  font-style: normal;
  font-size: 40px;
  padding-bottom: 20px;
  margin-left: 20px;
  font-family: 'Archivo', sans-serif;
}

.work-section {
  background-color: #f7f7f9;
  height: 100%;
  width: 100%;
  max-width: 500px;
  display: grid;
  justify-content: center;
  grid-gap: 50px;
  grid-template-columns: 400px;
  grid-column-gap: 20px;
}

.container {
  background-color: #fff;
  height: 750px;
  margin-top: 40px;
  border-radius: 15px;
  border: 1px solid rgb(109, 131, 109);
}

.container1 {
  display: flex;
  flex-direction: column;
}

.container2 {
  display: flex;
  flex-direction: column;
}

.container3 {
  display: flex;
  flex-direction: column;
}

.container4 {
  display: flex;
  flex-direction: column;
}

.card1 {
  width: 350px;
  margin-top: 30px;
  transition: transform ease-in-out 0.5s;
}

.card1:hover {
  transform: scale(1.5);
}

.Card1 {
  align-self: center;
}

#para1 {
  font-size: 18px;
  font-weight: 400;
  margin-left: 25px;
  color: rgb(23, 43, 77);
}

h1,
h2 {
  margin-left: 25px;
  font-family: 'Archivo', sans-serif;
}

.lister {
  display: flex;
  font-weight: bold;
  margin: 30px 30px 0 0;
  align-items: center;
}

#img-display {
  display: none;
}

.point {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: rgba(46, 85, 46, 0.76);
  margin: 9px 10px;
  align-self: center;
}

ul,
li,
a {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(83, 83, 206);
}

.html-btn {
  background-color: #ebebebff;
  font-weight: 500;
  height: 33px;
  padding-left: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.html-btn:hover {
  background-color: skyblue;
  transition: all ease 2s;
}

.first-list {
  padding-bottom: 40px;
  height: 33px;
  border-radius: 10px;
}

.css-btn {
  background-color: #ebebebff;
  font-weight: 500;
  height: 33px;
  padding-left: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.css-btn:hover {
  background-color: skyblue;
  transition: all ease 2s;
}

.javaScript-btn {
  background-color: #ebebebff;
  font-weight: 500;
  height: 33px;
  border-radius: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.javaScript-btn:hover {
  background-color: skyblue;
  transition: all ease 2s;
}

.to-project {
  border: 2px solid rgb(132, 132, 190);
  height: 45px;
  width: 140px;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  align-content: center;
}

.to-project:hover {
  background-color: skyblue;
}

#footer-img {
  width: 20px;
  height: 20px;
}

.lang {
  width: 350px;
  height: 60px;
  background-color: #f7f7f9;
  margin: 20px;
  padding: 4px;
  border-radius: 7px;
  display: flex;
  align-items: center;
}

.lang img {
  padding-right: 16px;
}

.frame {
  width: 350px;
  height: 60px;
  border-bottom: 1px solid rgb(68, 63, 63);
  margin: 20px;
  padding: 4px;
  border-radius: 7px;
  font-weight: bold;
  color: rgb(23, 43, 77);
  display: flex;
  justify-content: space-between;
}

.get {
  border: 2px solid #865ae5;
  height: 45px;
  width: 150px;
  border-radius: 10px;
  margin: 20px;
  color: #865ae5;
  font-weight: bold;
  padding: 10px 10px;
}

.get:hover {
  background-color: skyblue;
  transition: all ease 2s;
}

.para2 {
  margin: 0 25px;
  font-weight: normal;
}

.connect {
  font-weight: normal;
  margin-left: 25px;
  padding-top: 20px;
  color: #865ae5;
}

.About-section {
  background-color: #fff;
  padding-top: 40px;
  margin-top: 40px;
}

.about-title {
  margin-left: 25px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
}

.lang-dropper {
  margin-left: 25px;
  font-weight: bold;
  width: 60%;
  color: rgb(23, 43, 77);
  display: flex;
  justify-content: space-between;
}

.react-img {
  width: 70px;
  margin-bottom: 10px;
}

#dropBtn1 {
  width: 20px;
  height: 15px;
  margin-top: 7px;
  font-weight: bold;
  display: none;
}

#dropBtn02 {
  width: 25px;
  height: 20px;
  margin-top: 7px;
}

#dropBtn2 {
  width: 25px;
  height: 20px;
  margin-top: 7px;
  align-self: start;
}

#span {
  margin-right: 65px;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.Contact-form {
  background-image: url("./images/ContactShapes.png"), url("./images/ContactFormBck.jpg");
  background-size: cover;
  margin-top: 40px;
}

form ul {
  display: flex;
  flex-direction: column;
}

#name,
#mail,
#textarea {
  width: 350px;
  border-radius: 7px;
  border: none;
  margin: 5px;
  padding-left: 20px;
}

#textarea {
  padding-top: 20px;
}

textarea:hover,
input:hover {
  background-color: #000;
  color: #fff;
  font-size: 20px;
}

#name,
#mail {
  height: 40px;
}

form button {
  width: 150px;
  height: 50px;
  border-radius: 7px;
  border: none;
  margin-bottom: 50px;
  margin-left: 5px;
}

form button:enabled {
  background: #fff;
  border: 1px solid  #6070ff;
  color: #6070ff;
}

form button:disabled {
  background: #fff;
  border: 1px solid  #6070ff;
  color: #727e93;
}

form button:hover {
  cursor: pointer;
  background-color: #6d7cff;
  color: #fff;
  transition: all ease 2s;
}

form button:hover:active {
  background-color: #2230d2;
  color: #fff;
}

.contact-title {
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  padding-top: 30px;
}

.contact-content {
  color: #fff;
  text-align: center;
  padding-bottom: 30px;
}

#buttonForClose {
  border: none;
  background: none;
  font-size: 40px;
  position: relative;
  left: 90%;
  bottom: 50px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#form-Message {
  width: 90%;
  position: relative;
  color: white;
  border: 2px dashed red;
  text-align: center;
  visibility: hidden;
  font-weight: bold;
}
}
